# Ignore build artifacts
build/
dist/
target/

# Ignore logs
logs/
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore IDE specific files
.idea/
.vscode/

# Ignore .env files
.env

# Ignore system files
.DS_Store
Thumbs.db
api-core-env-backup.yaml
